dj-database-url==0.4.1
Django==1.9.8
django-filter==1.0.0
djangorestframework==3.5.3
gunicorn==19.6.0
Markdown==2.6.7
psycopg2==2.6.2
whitenoise==3.2
pillow==3.4.2
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.10.0rc0-cp27-none-linux_x86_64.whl
